.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
}
.app-header{
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
}
.app-header-logo{
  width: 180px;
}
.app-body{
  flex: 1;
  display: flex;
  overflow: hidden;
}
.app-body .app-body-sider{
  display: flex;
  width: 180px;
  margin-right: 16px;
  overflow: auto;
}

.app-body .app-body-content{
  flex: 1;
  overflow: auto;
}